<div class="card">
    <h1>CAR NAME:{{carObject.carName}}</h1>
    <h1>CAR MODEL:{{carObject.carModel}}</h1>
    <h1>CAR YEAR:{{carObject.carYear}}</h1>
    <button (click)="onEditBtnClick()">{{isShowEditWindow ? 'close' : 'edit'}}</button>
</div>

<ng-container *ngIf="isShowEditWindow">
<div class="edit_container">
    <form  (ngSubmit)="onEditFormSubmit()">
        <div class="car_name_container">
            <input type="text" 
            disabled
            name="carName" 
            placeholder="car name"
            [(ngModel)]="editObject.carName">
        </div>
        <div class="car_model_container">
            <input type="text"
            disabled
             name="carModel"
             placeholder="car model"
             [(ngModel)]="editObject.carModel">
        </div>
    
        <div class="card_year_container">
            <input type="text" 
            name="carYear"
            placeholder="car year"
            [(ngModel)]="editObject.carYear">
        </div>
    <button type="submit">edit </button>
    </form>
</div>
</ng-container>