<div class="card">
    <h3>{{userObject.name}}</h3>
    <h4>age:{{userObject.age}}</h4>
    <div [class]=" {'circle':true,'adult':userObject.age >= 18,'notAdult':userObject.age < 18}"></div>
    <button class="btn btn-danger w-50" (click)="onDeleteBtnClick()">delete</button>
    <button class="btn btn-primary w-50" (click)="onEditBtnClick()">{{isShowEditForm == false ? 'edit' : 'close'}}</button>

    <ng-container *ngIf="isShowEditForm">
        <form (ngSubmit)="onEditFormSubmit()">
            <input type="text" placeholder="age"  name="age" [(ngModel)]="updateAge">
            <button type="submit">submit</button>
        </form>
    </ng-container>
</div>
