<div class="product_filter_container">
    <app-product-filter
    (formObjectEmitter)="formObjectEmitterSub($event)"
    [categoriesArray]="categoriesArray"></app-product-filter>
</div>
<a routerLink="/basket" class="text-center d-block">go basket</a>

<ng-container *ngIf="productsArray.length > 0;else error">
    <div 
    class="
    main_container
    d-flex 
    justify-content-center 
    align-items-center
    gap-5
    flex-wrap">
        <ng-container *ngFor="let card of productsArray">
        <app-product (productEmitter)="productEmitterSub($event)" [item]="card"></app-product>
        </ng-container>
    </div>
</ng-container>


<ng-template #error>
<p class="text-center">Not found product</p>
</ng-template>