<div class="user_container">
    <div class="container">
        <h1>NAME:{{myUser.userName}}</h1>
    </div>
    <div class="container">
        <h1>lastName:{{myUser.userLastName}}</h1>
    </div>
    <div class="container">
        <h1 [ngStyle]="{'border':myUser.userAge >= 18 ? '1px solid green' : '1px solid red'}" [ngClass]="{'adult':myUser.userAge >= 18,'notAdult':myUser.userAge< 18}">age:{{myUser.userAge}}</h1>
    </div>
    <div class="container">
        <h1>gander:{{myUser.userGander}}</h1>
    </div>
    <div class="container">
        <h1>hobby:{{myUser.userHobby}}</h1>
    </div>
    <button (click)="onEditBtnClick()">{{isOpenEditor==true ? 'close' : "edit"}}</button>
    <div class="edit_container" *ngIf="isOpenEditor">
        <div class="user_name_container">
            <input type="text" [(ngModel)]="userObject.userName"
             name="userName" placeholder="userName">
        </div>
        <div class="user_lastName_container">
            <input type="text" [(ngModel)]="userObject.userLastName" 
            name="userLastName"
            placeholder="userLastName">
        </div>
        <div class="user_age_container">
            <input type="number" [(ngModel)]="userObject.userAge"
             name="userAge"
             placeholder="userAge">
        </div>
        <div class="user_gander_container">
            <input type="text" [(ngModel)]="userObject.userGander" 
            name="userGander"
            placeholder="userGander">
        </div>
        <div class="user_hobby_container">
            <input type="text" 
            [(ngModel)]="userObject.userHobby"
             name="userHobby"
             placeholder="userHobby">
        </div>
    <button type="submit" (click)="onEditFinishBtnClick()">edit</button>
    </div>
</div>

