<!-- one way binding-->

<!-- <h1>{{number1}} + {{number2}} = {{getNumber1PlusNumber2()}}</h1> -->

<!-- <input [type]="testType" [placeholder]="testPlaceholder" 
(input)="onTestInpInput($event)"
[value]="testValue"> -->


<!-- <form (ngSubmit)="onTestBtnClick()">
    <input [type]="testType" [placeholder]="testPlaceholder" 
    [(ngModel)]="testValue" name="test">
    <button type="button">testesttest</button>
    <button type="submit">{{showHideText}}</button>
</form>
<strong>{{testValue}}</strong>
<br>
<button (mouseleave)="onTestBtnMouseLeave()" (mousemove)="onTestBtncMouseMove()">test</button> -->