
.notactive{
background-color: red;
}

.active{
background-color: green;
}

.status_container{
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 50%;
}

.card{
    width: 200px;
    height: 400px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}