<div class="form_container">
    <app-form (userObjectEmitter)="userObjectEmitterSubscriber($event)"></app-form>
</div>


<div class="cards_contaienr">
<ng-container *ngFor="let user of array;let userIndex = index">
<app-card [userObject]="user"
 [index]="userIndex" 
 (deleteEventEmitter)="deleteEventEmitterSub($event)"
 (updateEventEmitter)="updateEventEmitterSub($event)"
 ></app-card>
</ng-container>

<ng-container *ngIf="array.length == 0">
    <p>იუზერი ჯერ არ არსებობს</p>
</ng-container>
</div>