/* You can add global styles to this file, and also import other style files */
h1{
    color: red;
}


.btnnnn{
    background-color: red !important;
    color: white !important;
}




/* .ng-invalid.ng-dirty:not([ngModelGrop]):not(form){
    border: 1px solid red;
}

.ng-valid.ng-dirty:not([ngModelGrop]):not(form){
    border: 1px solid green;
} */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
