/* You can add global styles to this file, and also import other style files */
h1{
    color: red;
}



.ng-invalid.ng-dirty:not([ngModelGrop]):not(form){
    border: 1px solid red;
}

.ng-valid.ng-dirty:not([ngModelGrop]):not(form){
    border: 1px solid green;
}