<form (ngSubmit)="onFormSubmit()">
    <div class="user_name_inp_container">
<input type="text" name="username" placeholder="username" [(ngModel)]="username">
    </div>
    <div class="user_lastName_inp_container">
        <input type="text" name="lastName" placeholder="userLastName" [(ngModel)]="userLastName">
    </div>
    <div class="user_status_container">
        <select name="userStatus"  [(ngModel)]="userStatus">
            <option value="">აირჩიეთ</option>
            <option [value]="true">active</option>
            <option [value]="false">notactive</option>
        </select>
    </div>
    <button type="submit">submit</button>
</form>



<ng-container *ngIf="usersArray.length > 0">
    <div class="cards_container">
        <ng-container *ngFor="let user of usersArray">
            <div class="card">
                <p>სახელი:{{user.userName}}</p>
                <p>გვარი:{{user.userLastName}}</p>
                <p>სტატუსი:{{user.userStatus == 'true' ? 'აქტიური' : 'არააქტიური'}}</p>
                <div [class]="{'status_container':true,'active':user.userStatus == 'true', 'notactive':user.userStatus == 'false'}"></div>
            </div>
        </ng-container>
    </div>
</ng-container>


<ng-container *ngIf="usersArray.length == 0">
<p class="warning_text">ჯერ იუზერი არ დამატებულა</p>
</ng-container>