<form (ngSubmit)="onFormSubmit()">
    <div class="car_name_container">
        <input type="text" 
        name="carName" 
        placeholder="car name"
        [(ngModel)]="carObject.carName">
    </div>
    <div class="car_model_container">
        <input type="text"
         name="carModel"
         placeholder="car model"
         [(ngModel)]="carObject.carModel">
    </div>

    <div class="card_year_container">
        <input type="text" 
        name="carYear"
        placeholder="car year"
        [(ngModel)]="carObject.carYear">
    </div>
<button type="submit">submit form</button>
</form>